$indigo: #845aff;
$white: #ffffff;
$dark: #100710;
$purple: #a21157;
$gradient: linear-gradient(203deg, rgba(192, 90, 255, 1) 0%, rgba(67, 39, 158, 1) 100%);
$gradient2: linear-gradient(250deg, rgb(180, 39, 100) 24%, rgb(222, 155, 189) 100%);

.green {
  color: $purple;
}
.indigo {
  color: $indigo;
}
